nav.navigation
  a.navigation__link(href='/')=meta.data.title
    svg.navigation__link__icon(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='500' zoomandpan='magnify' viewbox='0 0 375 374.999991' height='500' preserveaspectratio='xMidYMid meet' version='1.0')
      defs
        g
      g(fill='#ffffff' fill-opacity='1')
        g(transform='translate(19.283215, 196.65545)')
          g
            path(d='M 2.15625 0 L 2.15625 -22.1875 L 6.96875 -22.1875 L 14.03125 -8.109375 L 21.015625 -22.1875 L 25.828125 -22.1875 L 25.828125 0 L 21.765625 0 L 21.765625 -15.3125 L 15.59375 -3.171875 L 12.390625 -3.171875 L 6.203125 -15.3125 L 6.203125 0 Z M 2.15625 0 ')
      g(fill='#ffffff' fill-opacity='1')
        g(transform='translate(52.163775, 196.65545)')
          g
            path(d='M 0.734375 0 L 8.84375 -22.1875 L 13.40625 -22.1875 L 21.515625 0 L 17.203125 0 L 15.4375 -5.140625 L 6.78125 -5.140625 L 4.96875 0 Z M 7.890625 -8.296875 L 14.328125 -8.296875 L 11.09375 -17.515625 Z M 7.890625 -8.296875 ')
      g(fill='#ffffff' fill-opacity='1')
        g(transform='translate(79.279681, 196.65545)')
          g
            path(d='M 2.15625 0 L 2.15625 -22.1875 L 10.296875 -22.1875 C 12.066406 -22.1875 13.53125 -21.882812 14.6875 -21.28125 C 15.84375 -20.675781 16.703125 -19.859375 17.265625 -18.828125 C 17.835938 -17.804688 18.125 -16.675781 18.125 -15.4375 C 18.125 -14.082031 17.769531 -12.84375 17.0625 -11.71875 C 16.351562 -10.601562 15.25 -9.789062 13.75 -9.28125 L 18.34375 0 L 13.6875 0 L 9.5625 -8.75 L 6.203125 -8.75 L 6.203125 0 Z M 6.203125 -11.71875 L 10.046875 -11.71875 C 11.398438 -11.71875 12.390625 -12.046875 13.015625 -12.703125 C 13.648438 -13.359375 13.96875 -14.226562 13.96875 -15.3125 C 13.96875 -16.363281 13.65625 -17.207031 13.03125 -17.84375 C 12.414062 -18.476562 11.410156 -18.796875 10.015625 -18.796875 L 6.203125 -18.796875 Z M 6.203125 -11.71875 ')
      g(fill='#ffffff' fill-opacity='1')
        g(transform='translate(103.925032, 196.65545)')
          g
            path(d='M 12.203125 0.375 C 9.960938 0.375 8.039062 -0.101562 6.4375 -1.0625 C 4.832031 -2.019531 3.59375 -3.359375 2.71875 -5.078125 C 1.851562 -6.804688 1.421875 -8.800781 1.421875 -11.0625 C 1.421875 -13.320312 1.851562 -15.316406 2.71875 -17.046875 C 3.59375 -18.773438 4.832031 -20.125 6.4375 -21.09375 C 8.039062 -22.070312 9.960938 -22.5625 12.203125 -22.5625 C 14.859375 -22.5625 17.035156 -21.898438 18.734375 -20.578125 C 20.441406 -19.253906 21.503906 -17.398438 21.921875 -15.015625 L 17.453125 -15.015625 C 17.179688 -16.222656 16.597656 -17.171875 15.703125 -17.859375 C 14.804688 -18.546875 13.617188 -18.890625 12.140625 -18.890625 C 10.085938 -18.890625 8.476562 -18.191406 7.3125 -16.796875 C 6.15625 -15.398438 5.578125 -13.488281 5.578125 -11.0625 C 5.578125 -8.632812 6.15625 -6.726562 7.3125 -5.34375 C 8.476562 -3.957031 10.085938 -3.265625 12.140625 -3.265625 C 13.617188 -3.265625 14.804688 -3.585938 15.703125 -4.234375 C 16.597656 -4.878906 17.179688 -5.769531 17.453125 -6.90625 L 21.921875 -6.90625 C 21.503906 -4.625 20.441406 -2.835938 18.734375 -1.546875 C 17.035156 -0.265625 14.859375 0.375 12.203125 0.375 Z M 12.203125 0.375 ')
      g(fill='#ffffff' fill-opacity='1')
        g(transform='translate(132.18121, 196.65545)')
          g
            path(d='M 12.546875 0.375 C 10.328125 0.375 8.390625 -0.109375 6.734375 -1.078125 C 5.078125 -2.046875 3.773438 -3.390625 2.828125 -5.109375 C 1.890625 -6.835938 1.421875 -8.832031 1.421875 -11.09375 C 1.421875 -13.351562 1.890625 -15.34375 2.828125 -17.0625 C 3.773438 -18.78125 5.078125 -20.125 6.734375 -21.09375 C 8.390625 -22.070312 10.328125 -22.5625 12.546875 -22.5625 C 14.742188 -22.5625 16.675781 -22.070312 18.34375 -21.09375 C 20.007812 -20.125 21.304688 -18.78125 22.234375 -17.0625 C 23.171875 -15.34375 23.640625 -13.351562 23.640625 -11.09375 C 23.640625 -8.832031 23.171875 -6.835938 22.234375 -5.109375 C 21.304688 -3.390625 20.007812 -2.046875 18.34375 -1.078125 C 16.675781 -0.109375 14.742188 0.375 12.546875 0.375 Z M 12.546875 -3.265625 C 14.660156 -3.265625 16.34375 -3.960938 17.59375 -5.359375 C 18.851562 -6.753906 19.484375 -8.664062 19.484375 -11.09375 C 19.484375 -13.519531 18.851562 -15.429688 17.59375 -16.828125 C 16.34375 -18.222656 14.660156 -18.921875 12.546875 -18.921875 C 10.429688 -18.921875 8.738281 -18.222656 7.46875 -16.828125 C 6.207031 -15.429688 5.578125 -13.519531 5.578125 -11.09375 C 5.578125 -8.664062 6.207031 -6.753906 7.46875 -5.359375 C 8.738281 -3.960938 10.429688 -3.265625 12.546875 -3.265625 Z M 12.546875 -3.265625 ')
      g(fill='#ffffff' fill-opacity='1')
        g(transform='translate(162.147763, 196.65545)')
          g
            path(d='M 9.734375 0.375 C 8.097656 0.375 6.65625 0.0976562 5.40625 -0.453125 C 4.164062 -1.015625 3.1875 -1.816406 2.46875 -2.859375 C 1.75 -3.910156 1.378906 -5.1875 1.359375 -6.6875 L 5.640625 -6.6875 C 5.679688 -5.65625 6.054688 -4.785156 6.765625 -4.078125 C 7.472656 -3.367188 8.453125 -3.015625 9.703125 -3.015625 C 10.773438 -3.015625 11.628906 -3.269531 12.265625 -3.78125 C 12.898438 -4.300781 13.21875 -4.992188 13.21875 -5.859375 C 13.21875 -6.765625 12.9375 -7.472656 12.375 -7.984375 C 11.8125 -8.492188 11.066406 -8.90625 10.140625 -9.21875 C 9.210938 -9.539062 8.21875 -9.878906 7.15625 -10.234375 C 5.445312 -10.828125 4.144531 -11.585938 3.25 -12.515625 C 2.351562 -13.441406 1.90625 -14.675781 1.90625 -16.21875 C 1.882812 -17.53125 2.191406 -18.65625 2.828125 -19.59375 C 3.472656 -20.539062 4.351562 -21.269531 5.46875 -21.78125 C 6.59375 -22.300781 7.882812 -22.5625 9.34375 -22.5625 C 10.820312 -22.5625 12.125 -22.296875 13.25 -21.765625 C 14.382812 -21.242188 15.273438 -20.503906 15.921875 -19.546875 C 16.566406 -18.597656 16.910156 -17.46875 16.953125 -16.15625 L 12.609375 -16.15625 C 12.585938 -16.9375 12.285156 -17.628906 11.703125 -18.234375 C 11.128906 -18.835938 10.320312 -19.140625 9.28125 -19.140625 C 8.394531 -19.160156 7.648438 -18.941406 7.046875 -18.484375 C 6.441406 -18.035156 6.140625 -17.378906 6.140625 -16.515625 C 6.140625 -15.773438 6.375 -15.1875 6.84375 -14.75 C 7.3125 -14.3125 7.945312 -13.945312 8.75 -13.65625 C 9.550781 -13.363281 10.46875 -13.046875 11.5 -12.703125 C 12.601562 -12.328125 13.609375 -11.882812 14.515625 -11.375 C 15.421875 -10.863281 16.144531 -10.191406 16.6875 -9.359375 C 17.238281 -8.523438 17.515625 -7.453125 17.515625 -6.140625 C 17.515625 -4.984375 17.21875 -3.90625 16.625 -2.90625 C 16.039062 -1.914062 15.164062 -1.117188 14 -0.515625 C 12.84375 0.078125 11.421875 0.375 9.734375 0.375 Z M 9.734375 0.375 ')
      g(fill='#ffffff' fill-opacity='1')
        g(transform='translate(185.966158, 196.65545)')
          g
            path(d='M 9.40625 0.375 C 7.78125 0.375 6.363281 0.0820312 5.15625 -0.5 C 3.957031 -1.09375 3.03125 -1.914062 2.375 -2.96875 C 1.71875 -4.03125 1.390625 -5.257812 1.390625 -6.65625 L 4.1875 -6.65625 C 4.1875 -5.789062 4.382812 -4.992188 4.78125 -4.265625 C 5.1875 -3.535156 5.773438 -2.953125 6.546875 -2.515625 C 7.316406 -2.085938 8.269531 -1.875 9.40625 -1.875 C 10.90625 -1.875 12.066406 -2.234375 12.890625 -2.953125 C 13.710938 -3.671875 14.125 -4.566406 14.125 -5.640625 C 14.125 -6.523438 13.929688 -7.238281 13.546875 -7.78125 C 13.171875 -8.320312 12.660156 -8.757812 12.015625 -9.09375 C 11.378906 -9.425781 10.644531 -9.71875 9.8125 -9.96875 C 8.976562 -10.226562 8.101562 -10.519531 7.1875 -10.84375 C 5.476562 -11.425781 4.210938 -12.15625 3.390625 -13.03125 C 2.566406 -13.914062 2.15625 -15.066406 2.15625 -16.484375 C 2.132812 -17.660156 2.40625 -18.707031 2.96875 -19.625 C 3.539062 -20.550781 4.347656 -21.269531 5.390625 -21.78125 C 6.441406 -22.300781 7.6875 -22.5625 9.125 -22.5625 C 10.539062 -22.5625 11.769531 -22.296875 12.8125 -21.765625 C 13.863281 -21.242188 14.675781 -20.515625 15.25 -19.578125 C 15.832031 -18.648438 16.132812 -17.597656 16.15625 -16.421875 L 13.375 -16.421875 C 13.375 -17.023438 13.210938 -17.628906 12.890625 -18.234375 C 12.578125 -18.835938 12.097656 -19.328125 11.453125 -19.703125 C 10.804688 -20.085938 10 -20.28125 9.03125 -20.28125 C 7.820312 -20.300781 6.832031 -19.992188 6.0625 -19.359375 C 5.289062 -18.722656 4.90625 -17.847656 4.90625 -16.734375 C 4.90625 -15.785156 5.175781 -15.054688 5.71875 -14.546875 C 6.257812 -14.035156 7.015625 -13.613281 7.984375 -13.28125 C 8.953125 -12.957031 10.070312 -12.585938 11.34375 -12.171875 C 12.394531 -11.785156 13.34375 -11.335938 14.1875 -10.828125 C 15.039062 -10.328125 15.703125 -9.675781 16.171875 -8.875 C 16.648438 -8.070312 16.890625 -7.046875 16.890625 -5.796875 C 16.890625 -4.742188 16.613281 -3.742188 16.0625 -2.796875 C 15.507812 -1.859375 14.679688 -1.09375 13.578125 -0.5 C 12.472656 0.0820312 11.082031 0.375 9.40625 0.375 Z M 9.40625 0.375 ')
      g(fill='#ffffff' fill-opacity='1')
        g(transform='translate(209.18618, 196.65545)')
          g
            path(d='M 0.953125 0 L 9.125 -22.1875 L 11.953125 -22.1875 L 20.09375 0 L 17.265625 0 L 15.234375 -5.703125 L 5.796875 -5.703125 L 3.734375 0 Z M 6.59375 -7.859375 L 14.453125 -7.859375 L 10.515625 -18.828125 Z M 6.59375 -7.859375 ')
      g(fill='#ffffff' fill-opacity='1')
        g(transform='translate(235.130159, 196.65545)')
          g
            path(d='M 2.34375 0 L 2.34375 -22.1875 L 5 -22.1875 L 16.828125 -4.40625 L 16.828125 -22.1875 L 19.484375 -22.1875 L 19.484375 0 L 16.828125 0 L 5 -17.78125 L 5 0 Z M 2.34375 0 ')
      g(fill='#ffffff' fill-opacity='1')
        g(transform='translate(261.865979, 196.65545)')
          g
            path(d='M 12.078125 0.375 C 9.898438 0.375 8.023438 -0.101562 6.453125 -1.0625 C 4.878906 -2.019531 3.65625 -3.359375 2.78125 -5.078125 C 1.914062 -6.804688 1.484375 -8.8125 1.484375 -11.09375 C 1.484375 -13.351562 1.914062 -15.34375 2.78125 -17.0625 C 3.65625 -18.78125 4.878906 -20.125 6.453125 -21.09375 C 8.023438 -22.070312 9.898438 -22.5625 12.078125 -22.5625 C 14.609375 -22.5625 16.671875 -21.953125 18.265625 -20.734375 C 19.859375 -19.523438 20.878906 -17.832031 21.328125 -15.65625 L 18.375 -15.65625 C 18.039062 -17.03125 17.347656 -18.132812 16.296875 -18.96875 C 15.253906 -19.800781 13.847656 -20.21875 12.078125 -20.21875 C 10.492188 -20.21875 9.109375 -19.851562 7.921875 -19.125 C 6.734375 -18.394531 5.816406 -17.347656 5.171875 -15.984375 C 4.535156 -14.617188 4.21875 -12.988281 4.21875 -11.09375 C 4.21875 -9.1875 4.535156 -7.550781 5.171875 -6.1875 C 5.816406 -4.832031 6.734375 -3.789062 7.921875 -3.0625 C 9.109375 -2.332031 10.492188 -1.96875 12.078125 -1.96875 C 13.847656 -1.96875 15.253906 -2.375 16.296875 -3.1875 C 17.347656 -4 18.039062 -5.082031 18.375 -6.4375 L 21.328125 -6.4375 C 20.878906 -4.300781 19.859375 -2.628906 18.265625 -1.421875 C 16.671875 -0.222656 14.609375 0.375 12.078125 0.375 Z M 12.078125 0.375 ')
      g(fill='#ffffff' fill-opacity='1')
        g(transform='translate(289.5837, 196.65545)')
          g
            path(d='M 2.34375 0 L 2.34375 -22.1875 L 5 -22.1875 L 5 -12.390625 L 16.515625 -12.390625 L 16.515625 -22.1875 L 19.171875 -22.1875 L 19.171875 0 L 16.515625 0 L 16.515625 -10.203125 L 5 -10.203125 L 5 0 Z M 2.34375 0 ')
      g(fill='#ffffff' fill-opacity='1')
        g(transform='translate(316.002794, 196.65545)')
          g
            path(d='M 2.34375 0 L 2.34375 -22.1875 L 16.0625 -22.1875 L 16.0625 -20 L 5 -20 L 5 -12.265625 L 15.109375 -12.265625 L 15.109375 -10.109375 L 5 -10.109375 L 5 -2.1875 L 16.0625 -2.1875 L 16.0625 0 Z M 2.34375 0 ')
      g(fill='#ffffff' fill-opacity='1')
        g(transform='translate(338.779389, 196.65545)')
          g
            path(d='M 1.390625 0 L 1.390625 -2.09375 L 12.328125 -19.875 L 1.546875 -19.875 L 1.546875 -22.1875 L 15.4375 -22.1875 L 15.4375 -20.09375 L 4.46875 -2.3125 L 15.5625 -2.3125 L 15.5625 0 Z M 1.390625 0 ')

  ul.navigation__list
    each item in navigation.data.list
      li.navigation__list__item
        a.navigation__list__link(href=Link(item.link))=item.text

