extends ../_includes/layout

block variables
  - var template = 'home'

block content 
  .home(data-background="#191919" data-color="#f9f1e7")
    .home__wrapper
      .home__titles
        each collection, index in collections
          if index === 0
            a.home__titles__label(href='https://www.w3schools.com/' target='_blank')=`SoundCloud`
          else if index === 1
            .home__titles__label=`Spotify`
          else if index === 2
            .home__titles__label=`Instagram`
          else if index === 3
            .home__titles__label=`Facebook`
          else
            .home__titles__label=`LinkedIn`
          .home__titles__title=collection.data.title

      .home__gallery
        each media in home.data.gallery
          figure.home__gallery__media
            img.home__gallery__media__image(data-src=media.image.url alt=media.image.alt)

      a.home__link(href=Link(home.data.collections))=home.data.button