extends ../_includes/layout

block variables
  - var template = 'home'

block content 
  .home(data-background="linear-gradient(to top, #09203f 0%, #537895 100%)" data-color="#f9f1e7")
    .home__wrapper
      .home__titles
        .home__titles__title
            p Marcos Sanchez | Building Digital Experiences
      //- .home__titles
      //-   each collection, index in collections
      //-     if index === 0
      //-       .home__titles__label
      //-     else if index === 1
      //-       .home__titles__label
      //-         i.fas.fa-code(aria-hidden='true') 
      //-     else if index === 2
      //-       .home__titles__label
      //-         i.fas.fa-bolt(aria-hidden='true') 
      //-     else if index === 3
      //-       .home__titles__label
      //-         i.fas.fa-music(aria-hidden='true') 
      //-     else
      //-       .home__titles__label

      //-     .home__titles__title=collection.data.title
     

      .home__gallery
        each media in home.data.gallery
          figure.home__gallery__media
            img.home__gallery__media__image(data-src=media.image.url alt=media.image.alt)

      a.home__link(href='#' target='_blank')=home.data.button
      .social__icons__container
        //- a.social__icons(href='https://drive.google.com/file/d/1qtdiNVFAB6Z9djGXF7UKhnflTph4QfDp/view?usp=sharing' target='_blank')
        //-   i.fas.fa-video(aria-hidden='true') 
        a.social__icons(href='https://drive.google.com/file/d/1L5SfTVchEQAhD5qYmMVeGrFogNdfbq3z/view?usp=sharing' target='_blank')
          i.fas.fa-file-pdf(aria-hidden='true') 
        a.social__icons(href='https://www.linkedin.com/in/marcos-web-dev/' target='_blank')
          i.fab.fa-linkedin(aria-hidden='true') 
        a.social__icons(href='https://www.instagram.com/illuminv/' target='_blank')
          i.fab.fa-instagram(aria-hidden='true') 
        a.social__icons(href='https://www.facebook.com/illuminumx/' target='_blank')
          i.fab.fa-facebook(aria-hidden='true') 
        a.social__icons(href='https://github.com/marcosSanchez-dev' target='_blank')
          i.fab.fa-github(aria-hidden='true') 
