.navigation {
  @extend %cover;

  color: $color-white;
  z-index: z("navigation");
  position: fixed;
  pointer-events: none;
}

.navigation__link {
  font-size: 0;
  position: absolute;
  left: 4rem;
  top: 4rem;
  width: 8rem;
  pointer-events: auto;
  height: 2rem;
  transition: opacity 0.4s ease;

  &:hover {
    opacity: 0.5;
  }

  @include media("<phone") {
    left: 2.5rem;
    top: 3.5rem;
    width: 14rem;
    height: 4.3rem;
  }
}

.name__title {
  font-size: 2rem;
  max-width: max-content;
}
.navigation__link__icon {
  display: block;
}
.navigation__list {
}
.navigation__list__item {
  position: absolute;
  right: 4rem;
  top: 4rem;
  pointer-events: auto;
}
.navigation__list__link {
  @extend %link--hidden;
  @extend %title-20;
  text-align: center;
  display: block;
  line-height: 1;
  font-weight: bolder;
  font-size: 3.5rem;

  @include media("<phone") {
    font-size: 3.5rem;
  }
}
